---
import { Separator } from '@/components/ui/separator'
---

<div class='w-full'>
	<Separator />
	<footer class='@container max-w-6xl mx-auto h-15 py-4'>
		<div class='flex items-center justify-center h-full'>
			<p>
				Hecho con ❤️ por <a
					class='underline hover:text-primary'
					href='https://github.com/kaiselion'>Kaiselion</a
				>
			</p>
		</div>
	</footer>
</div>