---
import MainLayout from "@/layouts/MainLayout.astro";
import { auth } from '../lib/auth' // import your Better Auth instance

const session = await auth.api.getSession({
	headers: Astro.request.headers
})

if (session) {
	console.log('Tenemos session', session)
} 

if (!session) {
	console.log('No tenemos session, entonces redirigimos a login')
	return Astro.redirect('/login')
}

const user = session.user
---

<MainLayout>
	<div class='@container flex flex-col gap-4 items-center text-center max-w-4xl mx-auto pt-12'>
		<h1 class="text-3xl font-bold">Panel de control</h1>
		<h2 class="text-xl text-gray-400">Bienvenido {user.name}</h2>
		<p class="text-md text-gray-500"> { user.email }</p>
	</div>
</MainLayout>
