---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<div class='@container items-center text-center max-w-4xl mx-auto pt-12'>
		<h1 class="text-3xl font-bold">Index Auth</h1>
		<p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>		
	</div>
</MainLayout>
