---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout>
	<div>
		<h1 class='text-3xl font-bold'>Index Auth Cambio en Github?</h1>
		<p class='text-sm text-gray-500'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
		</p>
	</div>
</MainLayout>
