---
import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Input } from "@/components/ui/input"
import { Label } from "@/components/ui/label"
---

<div class="flex flex-col gap-6">
  <Card>
    <CardHeader className="text-center">
      <CardTitle className="text-xl">Bienvenido de nuevo</CardTitle>
      <CardDescription>
        Olvidaste tu contraseña?
      </CardDescription>
    </CardHeader>
    <CardContent>
      <form>
        <div class="grid gap-6">
          
          <div class="grid gap-6">
            <div class="grid gap-3">
              <Label htmlFor="email">Email</Label>
              <Input
                id="email"
                type="email"
                placeholder="m@example.com"
                required
              />
            </div>
            
            <Button type="submit" className="w-full">
              Recuperar contraseña
            </Button>
          </div>
          <div class="text-center text-sm">
            Volver a la página{" "} 
            <a href="/login" class="underline underline-offset-4">
              inicio
            </a>
          </div>
        </div>
      </form>
    </CardContent>
  </Card>
  <div class="text-muted-foreground *:[a]:hover:text-primary text-center text-xs text-balance *:[a]:underline *:[a]:underline-offset-4">
    Al continuar, aceptas nuestros <a href="#">Términos de servicio</a> y{" "}
    <a href="#">Política de privacidad</a>.
  </div>
</div>